.fontItalic {
    font: italic 16px cursive;
  }
  
.colorRed {
    color: red;
  }

.pikachuBackgroundImage {
  background: url('../../.next/static/media/pikachu.png');
  }

.body {
    font-size: 40px;
    -webkit-font-smoothing: none;
    font-family: 'pokemon-font', monospace;
  }
.h1 {
    font-size: 40px;
  }